<nav>
    <ul>
      <li><a href="/" class="contrast"><strong>Rhys</strong></a></li>
    </ul>
    <ul>
      <li><a href="/about" class="contrast">About</a></li>
      <li><a href="/blog" class="contrast">Blog</a></li>
      <li><a href="/projects" class="contrast">Projects</a></li>
      <li><a href="https://git.rhysmason.uk/rhysm/learning/wiki" class="contrast">Learning</a></li>
    </ul>
</nav>